<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('assets/images/main/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>{{ "main-title" | translate }}</h1>
          <hr class="small">
          <span class="subheading">{{ "main-subtitle" | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <div class="post-preview" *ngFor="let post of posts">
        <a href="post.html">
          <h2 class="post-title">
            {{ post.title }}
          </h2>
          <h3 class="post-subtitle">
            {{ post.subtitle }}
          </h3>
        </a>
        <p class="post-meta">{{ 'writer' | translate }} {{ post.writer }}</p>
        <hr />
      </div>

      <!-- Pager -->
      <ul class="pager">
        <li class="next">
          <a href="#">{{ "Older Posts" |  translate }} &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<hr>
