.main.container {
  margin-top: 2em;
}

.main.menu {
  margin-top: 4em;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition:
    box-shadow 0.5s ease,
    padding 0.5s ease
;
}
.main.menu .item img.logo {
  margin-right: 1.5em;
}

.main.menu.fixed {
  background-color: #FFFFFF;
  border: 1px solid #DDD;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
