<div class="ui text container">

  <div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">1. Node JS</a>
    <a class="item" data-tab="second">2. Angular CLI</a>
    <a class="item" data-tab="third">3. GIT</a>
    <a class="item" data-tab="four">4. BitBucket</a>
    <a class="item" data-tab="five">5. WebStorm</a>
    <a class="item" data-tab="six">6. 실행</a>
  </div>

  <div class="ui bottom attached tab segment active" data-tab="first">
    <h3>1. Node JS 설치</h3>

    <h4> Download </h4>
    <img class="ui image" src="../../../../assets/images/guides/nodejs.png" />
    <p>
      <i class="fa fa-file" aria-hidden="true"></i> <a href="http://nodejs.org" target="_blank">http://nodejs.org</a>에 접속하여 NodeJS를 Download한다.
      <br>
      <i class="fa fa-check" aria-hidden="true"></i> NPM 버전이 3버전 이상인지 확인하여 Download한다.
    </p>

    <h4> Install </h4>
    <img class="ui image" src="../../../../assets/images/guides/nodejs2.png" />
    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 약관에 동의한 후 당당하게 Next! </p>
    <img class="ui image" src="../../../../assets/images/guides/nodejs3.png" />
    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 설치 경로는 원하는 위치로 지정한 후 Next! </p>
    <img class="ui image" src="../../../../assets/images/guides/nodejs4.png" />
    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> npm package manager만 설치해도 되는 듯 하지만, 남자답게 전체 설치!! Next! </p>
    <img class="ui image" src="../../../../assets/images/guides/nodejs5.png" />
    <p><i class="fa fa-ambulance" aria-hidden="true"></i> Install를 누르면 이제 NodeJS가 내 PC를 감염시킨다.</p>
  </div>

  <div class="ui bottom attached tab segment" data-tab="second">
    <h3>2. Angular CLI 설치</h3>
    <h4> Specifications </h4>
    <img class="ui image" src="../../../../assets/images/guides/angularcli.png" />
    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> <a href="http://cli.angular.io" target="_blank">Angular CLI</a> SPEC을 확인해봐야 한다. </p>

    <h4> Install </h4>
    <img class="ui image" src="../../../../assets/images/guides/angularcli1.png" />
    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> CMD을 실행한 후 npm i -g @angular/cli 로 </p>
  </div>

  <div class="ui bottom attached tab segment" data-tab="third">
    <h3>3. GIT 설치</h3>
    <h4> Install </h4>
    <img class="ui image" src="../../../../assets/images/guides/git.png" />
    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> <a href="https://git-scm.com/" target="_blank">GIT SCM</a>에 접속하여, 자신의 OS에 맞는 GIT를 DOWNLOAD한다.</p>
  </div>

  <div class="ui bottom attached tab segment" data-tab="four">
    <h3>4. BitBucket 저장소 확인</h3>
    <h4>GIT 이미지 확인</h4>
    <img class="ui image" src="../../../../assets/images/guides/bitbucket.png" />
    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Lab1_Anakin 저장소로 이동한다.</p>
    <img class="ui image" src="../../../../assets/images/guides/bitbucket2.png" />
    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Lab1_Anakin내의 LightSaber로 이동, git clone URL를 확인한다.</p>
  </div>

  <div class="ui bottom attached tab segment" data-tab="five">
    <h3>5. WebStorm 설정</h3>
    <h4>GIT 설정</h4>
    <img class="ui image" src="../../../../assets/images/guides/ws.png" />
    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> WebStorm을 실행한다. </p>
    <img class="ui image" src="../../../../assets/images/guides/ws1.png" />
    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 하단의 Configuration내의 Settings를 선택한다. </p>
    <img class="ui image" src="../../../../assets/images/guides/ws2.png" />
    <p>
      <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Settings 내의 Version Control로 이동하여 GIT를 선택한 뒤, Path to Git executable에 설치한 GIT.exe 경로를 지정한다.
    </p>

    <h4>소스 받기</h4>
    <img class="ui image" src="../../../../assets/images/guides/ws.png" />
    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> WebStorm을 실행한 뒤, Check out from Version Control를 선택한다. </p>
    <img class="ui image" src="../../../../assets/images/guides/ws3.png" />
    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> BitBucket URL과 저장될 디렉터리를 지정한 후 CLONE 을 한다. </p>
  </div>

  <div class="ui bottom attached tab segment" data-tab="six">
    <h3>6. 실행</h3>
    <h4>라이브러리 설치</h4>
    <img class="ui image" src="../../../../assets/images/guides/ws4.png" />
    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> CLONE 받은 디렉터리로 이동한다. 단, 위 그림과 같이 package.json이 있는 경로까지로 이동한다. </p>
    <img class="ui image" src="../../../../assets/images/guides/ws5.png" />
    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> npm install 명령어로 라이브러리를 설치한다. </p>

    <h4>실행</h4>
    <img class="ui image" src="../../../../assets/images/guides/ws7.png" />
    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> ng serve -o 명령어로 프로젝트를 실행한다. -o는 프로젝트가 시작되면, 기본 브라우저로 자동으로 보여주는 옵션이다. </p>

    <h4>빌드</h4>
    <img class="ui image" src="../../../../assets/images/guides/ws8.png" />
    <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> ng build --prod --env=prod 명령어로 빌드한다. --prod는 production 모드로 빌드를 한다는 옵션이며, --env=는 어떤 환경의 값으로 빌드할 건지 지정하는 옵션이다. </p>
  </div>

</div>
