<!-- Top -->
<div class="ui main text container">
  <h1 class="ui header"><img class="logo" src="assets/images/logo.png" style="width:auto;cursor:pointer;" [routerLink]="[urls.index.index]"></h1>
  <p>LightSaber Angular CLI 프로젝트 가이드입니다.</p>
</div>
<!-- // Top -->

<!-- Menu -->
<div class="ui borderless main menu">
  <div class="ui text container">

    <div href="#" class="header item">
      <i class="fa fa-book" aria-hidden="true"></i>&nbsp;
      개발가이드
    </div>

    <a href="#" class="ui right floated dropdown item">바로가기 <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">준비중</div>
      </div>
    </a>

  </div>
</div>
<!-- //Menu -->
