<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a (click)="setTranslate('ko')">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a (click)="setTranslate('en')">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-flag-checkered fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a (click)="setTranslate('cn')">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-flag-o fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">{{ "copyright" | translate }}</p>
      </div>
    </div>
  </div>
</footer>
