<header class="intro-header" style="background-image: url('assets/images/main/contact-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>{{ "login-title" | translate }}</h1>
          <hr class="small">
          <span class="subheading">{{ "login-subtitle" | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-12 col-md-offset-1">
      <form name="form" id="form" [formGroup]="form" (ngSubmit)="onLogin()">
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Email Address</label>
            <input type="email" id="email" formControlName="email" placeholder="E-mail address" required [(ngModel)]="user.email">
            <div *ngIf="formTargets.email" class="alert alert-danger">{{ formTargets.email | translate }}</div>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Password</label>
            <input type="password" id="password" formControlName="password" placeholder="Password" required minlength="6" maxlength="12" [(ngModel)]="user.password">
            <div *ngIf="formTargets.password" class="alert alert-danger">{{ formTargets.password | translate:{ min: 6, max: 12 } }}</div>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Remember</label>
            <input type="checkbox" id="remember" #remember>{{ "login-remember-email" | translate }}
          </div>
        </div>
        <br>
        <div id="success"></div>
        <div class="row">
          <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-default"[disabled]="!form.valid">{{ "button-login" | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
