<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item" [routerLink]="[urls.index.index]">Home</a>
    <a class="item" [routerLink]="[urls.guide.index]">Guide</a>
    <a class="item" [routerLink]="[urls.contents.index]">Contents</a>
    <a class="item">Careers</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button" [routerLink]="[urls.index.login]">{{ "login-title" | translate }}</a>
      </div>
      <div class="item">
        <a class="ui primary button" [routerLink]="[urls.index.signup]">Sign Up</a>
      </div>
    </div>
  </div>
</div>
