<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item" [routerLink]="['/']">Home</a>
    <a class="item" [routerLink]="['/guide']">Guide</a>
    <a class="item" [routerLink]="['/contents']">Contents</a>
    <a class="item">Careers</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button" [routerLink]="['login']">Log in</a>
      </div>
      <div class="item">
        <a class="ui primary button" [routerLink]="['sign-up']">Sign Up</a>
      </div>
    </div>
  </div>
</div>
