g<br>
u<br>
i<br>
d<br>
e<br>
<div ngNonBindable>{{isHideFooter}}</div>
<div >{{isHideFooter}}</div>
<br>
http://blog.nekoromancer.kr/2016/01/26/es6-var-let-%EA%B7%B8%EB%A6%AC%EA%B3%A0-const/
http://valor-software.com/ngx-bootstrap/index-bs4.html#/
http://sb-admin-bs4.strapui.com/
https://www.strapui.com/themes/sb-admin-html-bootstrap-4/
http://www.strapui.com/licenses/
http://getbootstrap.com/
https://www.typescriptlang.org/docs/handbook/variable-declarations.html
https://github.com/studye/angular/wiki
http://getbootstrap.com/components/#input-groups
