<br><br><br><br><br><br>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        Validation Check II
      </div>
    </h2>
    <div class="ui stacked segment">ng serve
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="email" id="email" placeholder="E-mail address" required #email>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" id="password" placeholder="Password" required minlength="6" maxlength="12" #password>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="checkbox" id="agree" placeholder="Agree Term" required #agree>
        </div>
      </div>
      <button type="button" class="ui fluid large teal submit button" (click)="onCheck()">Check</button>
    </div>
    <div class="ui error message" #errmsg style="min-height:500px">
      <div *ngIf="validMessage['email']">{{ validMessage['email'] | translate:{ min: 6, max: 12 } }}</div>
      <div *ngIf="validMessage['password']">{{ validMessage['password'] | translate:{ min: 6, max: 12 } }}</div>
      <div *ngIf="validMessage['agree']">{{ validMessage['agree'] | translate:{ min: 6, max: 12 } }}</div>
    </div>
  </div>
</div>
